import { AuthGuard } from '@alfresco/adf-core';
import { Routes } from '@angular/router';
import { <%= name %>Component } from './<%= directory %>/<%= directory %>.component';

export const <%= name %>_ROUTES: Routes = [
  {
    path: '<%= directory %>',
    component: <%= name %>Component,
    canActivate: [AuthGuard]
  }
];
