@use '@angular/material' as mat;
@import 'material-icons/iconfont/material-icons.css';
@import '@fontsource/open-sans';

@import './theme';
@import './variables';

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: mat.m2-font-size($app-typography, body-1);
  font-family: mat.m2-font-family($app-typography);
  line-height: mat.m2-line-height($app-typography, body-1);
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  overflow: auto;
}
